# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [1]:
import pandas as pd
import numpy as np

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
df = pd.read_csv('Pokemon.csv')

### Print first 10 rows of `pokemon`

In [3]:
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
dis = df[['Type 1','Type 2']]

In [9]:
dis_1 = dis.drop_duplicates(['Type 1','Type 2']).sort_values(by=['Type 1','Type 2']).reset_index(drop=True)

In [10]:
dis_1.head(15)

   Type 1    Type 2
0     Bug  Electric
1     Bug  Fighting
2     Bug      Fire
3     Bug    Flying
4     Bug     Ghost
5     Bug     Grass
6     Bug    Ground
7     Bug    Poison
8     Bug      Rock
9     Bug     Steel
10    Bug     Water
11    Bug       NaN
12   Dark    Dragon
13   Dark  Fighting
14   Dark      Fire

In [11]:
dis_1.shape

(154, 2)

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [15]:
# enter your code here

df['Name'] = df["Name"].str.replace("^.*(?=Mega)", "", regex=True)

# test transformed data

df.Name.head(10)

0           Bulbasaur
1             Ivysaur
2            Venusaur
3       Mega Venusaur
4          Charmander
5          Charmeleon
6           Charizard
7    Mega Charizard X
8    Mega Charizard Y
9            Squirtle
Name: Name, dtype: object

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [16]:
df['A/D Ratio'] = df.Attack/df.Defense

### Identify the pokemon with the highest `A/D Ratio`

In [22]:
df[df['A/D Ratio']==df['A/D Ratio'].max()][['Name','Attack','Defense','A/D Ratio']]

                   Name  Attack  Defense  A/D Ratio
429  DeoxysAttack Forme     180       20        9.0

### Identify the pokemon with the lowest A/D Ratio

In [21]:
df[df['A/D Ratio']==df['A/D Ratio'].min()][['Name','Attack','Defense','A/D Ratio']]

        Name  Attack  Defense  A/D Ratio
230  Shuckle      10      230   0.043478

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [29]:
df['Combo'] = df['Type 1'] + ('-' + df['Type 2']).fillna('')

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [36]:
df.sort_values(by='A/D Ratio', ascending=False).head(5)[['Name','A/D Ratio']].reset_index(drop=True)

                 Name  A/D Ratio
0  DeoxysAttack Forme      9.000
1            Carvanha      4.500
2       Mega Beedrill      3.750
3            Cranidos      3.125
4            Sharpedo      3.000

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [42]:
Top_5 = df.sort_values(by='A/D Ratio', ascending=False).head(5)[['Name','A/D Ratio','Combo']].reset_index(drop=True)
Top_5

                 Name  A/D Ratio       Combo
0  DeoxysAttack Forme      9.000     Psychic
1            Carvanha      4.500  Water-Dark
2       Mega Beedrill      3.750  Bug-Poison
3            Cranidos      3.125        Rock
4            Sharpedo      3.000  Water-Dark

In [45]:
combo_type = Top_5['Combo'].to_list()

In [50]:
combo_type = np.unique(combo_type)
combo_type

array(['Bug-Poison', 'Psychic', 'Rock', 'Water-Dark'], dtype='<U10')

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [52]:
df.groupby(Top_5['Combo'])[df.select_dtypes(include=np.number).columns.tolist()].agg('mean')

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,A/D Ratio
Combo,,,,,,,,,,
Bug-Poison,3.0,525.0,80.0,82.0,83.0,100.0,100.0,80.0,1.0,0.987952
Psychic,1.0,318.0,45.0,49.0,49.0,65.0,65.0,45.0,1.0,1.000000
Rock,3.0,625.0,80.0,100.0,123.0,122.0,120.0,80.0,1.0,0.813008
Water-Dark,3.0,357.0,49.5,57.0,53.0,70.0,65.0,62.5,1.0,1.096715